@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-color: white;
  font-family: "KumbhSansLight";
}

.root,
#root,
#docs-root {
  --primary-color: hsl(26, 100%, 55%);
}

@font-face {
  font-family: "KumbhSansLight";
  src: url('../public/fonts/KumbhSans-Light.ttf');
}