@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-color: white;
  font-family: "KumbhSansLight";
  overflow-x: hidden;
}

h1, h2, h4, h3 {
  font-family: "KumbhSansMedium";
}

.root,
#root,
#docs-root {
  --primary-color: hsl(26, 100%, 55%);
}

@font-face {
  font-family: "KumbhSansLight";
  src: url('../public/fonts/KumbhSans-Light.ttf');
}

@font-face {
  font-family: "KumbhSansMedium";
  src: url('../public/fonts/KumbhSans-Medium.ttf');
}